# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# Expo
.expo/
.expo-shared/

# builds
dist/
build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# keys/certs
*.pem
*.key
*.crt

# React Native platform folders (ta bort om du vill pusha dem)
android/
ios/

Todo.md